.movie-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 7px;
  padding: 7px;
  background-color: black;
}

.movie-card {
  display: flex;
  flex-direction: column;
}

.movie-card-image {
  width: 100%;
}

.movie-card-title {
  color: white;
  font-size: 20px;
  text-align: center;
}

.movie-card:hover {
  transform: scale(1.03);
  cursor: pointer;
  border: 2px solid rgb(255, 255, 255);
}

